 :root{
/* Font size */
 --font-large: 48px;
 --font-medium: 28px;
 --font-regular: 18px;
 --font-small: 16px;
 --font-micro: 14px;

 /* Font weight */
 --weight-bold: 700;
 --weight-semi-bold: 600;
 --weight-regular: 400;

 /* Size */
 --size-border-radius: 4px;

 /* Annimation */
 --animation-duration: 300ms;
}

/* Universal tags */
* {
 box-sizing: border-box;
}

*{box-sizing: border-box;}
body{
    margin: 0;
    font-family: 'Poor Story', cursive;
    cursor: default;
}
h1{
    font-size: 80px;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}

button{
    background-color: rgb(253, 228, 6);
    cursor: pointer;
    border: none;
    outline: none;
}
/* Navbar */
#navbar {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color:rgb(253, 228, 6);
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
  }
#navbar.navbar_dark{
  background-color: yellow;
  padding: 8px;

}  
  .navbar_logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .navbar_menu {
    display: flex;
  }

  .navbar_menu_item{
    padding: 8px 12px;
    margin: 0 4px;
    color: white;
    cursor: pointer;
  }
  .navbar_menu_item.active {
    border: 1px solid white;
    border-radius: var(--size-border-radius);
  }
  
  .navbar_menu_item:hover{
    background-color: orange;
    border-radius: var(--size-border-radius);
  }
  
  .navbar_toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: white;
    display: none;
  }
  
  /* Home */
  #home {
    background: url('imgs/home-background.png') center/cover no-repeat;
    padding: 120px;
    text-align: center;
  }
  
  .home_avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  .home_title,
  .home_description {
    color: white;
  }
  
  .home_contact {
    color: white;
    font-size: small;
    font-weight: bold;
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: var(--size-border-radius);
  }
  
  /* Section common */
  .section {
    padding: 50px;
    text-align: center;
    margin: auto;
    max-width: 1200px;
  }
  
  .section_container {
    max-width: 1200px;
    margin: auto;
  }
  
  /* About */
   /*major*/
  .about_majors{
    display: flex;
    justify-content: space-between;
    width:800px;
    margin: auto;
  }
  
  .major_icon {
    width: 300px;
    height: 300px;
    line-height: 300px;
    font-size: 150px;
    margin: auto;
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  
  .major_icon i {
    transition: all var(--animation-duration) ease;
  }
  
  .major_icon:hover i {
    color: rgb(253, 228, 6);
    transform: rotate(-30deg) scale(1.1);
  }
  
  .major_title,
  .major_description {
    font-weight: bold;
    color: darkslategray
  }
  
  .major_description {
    font-size: small;
  }

  .about_school {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
  }
  
  .school_icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  
  .school_icon i {
    transition: all var(--animation-duration) ease;
  }
  
  .school_icon:hover i {
    color: rgb(253, 228, 6);
    transform: rotate(-30deg) scale(1.1);
  }
  
  .school_name,
  .school_period {
    color: black;
    font-weight: bold;
  }
  
  .school_description {
    font-size: small;
  }
 
  /*job*/
  .about_jobs {
    display: flex;
    justify-content: space-between;
    width:800px;
    margin: auto;
  }
  
  .job_icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  
  .job_icon i {
    transition: all var(--animation-duration) ease;
  }
  
  .job_icon:hover i {
    color: rgb(253, 228, 6);
    transform: rotate(-30deg) scale(1.1);
  }
  
  .job_name,
  .job_period {
    color: black;
    font-weight: bold;
  }
  
  .school_description {
    font-size: small;
  }
  /* Skill */
  
  #skills {
    background: url('imgs/home-background.png') center/cover no-repeat;
  }
  
  .skillset {
    display: flex;
    background-color: rgb(148, 148, 148);
    color: white;
    margin: 20px 0;
  }
  
  .skillset_title {
    color: white;
  }
  .skillset_left {
    flex-basis: 60%;
    background-color:darkgray;
    padding: 20px 40px;
  }
  .skillset_right {
    flex-basis: 40%;
  }
  
  .skill {
    margin-bottom: 32px;
  }

  .skill_description {
    display: flex;
    justify-content: space-between;
  }
  
  .skill_bar {
    width: 100%;
    height: 3px;
    background-color: grey;
  }
  
  .skill_value {
    height: 3px;
    background-color: rgb(253, 228, 6);
  }
  

  
  .tools {
    background-color: rgb(102, 102, 102);
  }
  
  .tools,
  .etc {
    padding: 20px;
  }
  
  /* Work */
  
  .work_categories {
    margin: 60px;
  }
  
  .category_btn {
    border: 1px solid white;
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    font-weight: bold;
    padding: 8px 48px;
  }
  
  .category_btn.active,
  .category_btn:hover {
    background-color: yellow;
    color: white;
  }
  
  .category_btn.active .category_count,
  .category_btn:hover .category_count {
    opacity: 1;
    top: 0;
  }
  
  .category_count {
    background-color: orange;
    border-radius: 50%;
    color:white;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
  }
  
  .work_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project{
    max-width: 100%;
    max-height: 100%;
    align-self: center;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 200px;
    margin: 10px;
    background-color: white; 
  }
  
  
  .project_img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 200px;
    margin: 10px;
    background-color: white;
  }
  .project_description{
    position: absolute;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
  }
 
  
  .project:hover .project_description {
    opacity: 0.8;
    transform: translateY(0px);
  }
  
  .project_description h3 {
    color: orange;
  }
  
  .project_description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: black;
  }
  
  
  /* Contact */
  #contact {
    background: url('imgs/home-background.png') center/cover no-repeat;
  }
  
  .contact_title,
  .contact_email,
  .contact_hp
  .contact_rights {
    color: white;
  }
  
  .contact_title {
    margin: 32px 0;
  }
  

  
  /* For below 768px screen width */
  @media screen and (max-width: 768px) {
    .navbar_toggle-btn {
      display: block;
    }
  
    #navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar_menu {
      flex-direction: column;
      text-align: center;
      width: 100%;
      display: none;
    }
  
    .about_majors {
      flex-direction: column;
    }
  
    .major {
      margin-bottom: 38px;
    }
  
    .skillset {
      flex-direction: column;
    }
  
    .project {
      flex-grow: 1;
    }
  
 
  }
  